.jss408 {
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgb(243, 243, 248);
}

.jss409 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.jss500 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jss497 {
    width: 100%;
    height: 7px;
    max-width: 310px;
    border-radius: 3.5px;
    background-color: #e0e0e0;
}

.MuiLinearProgress-colorPrimary {
    background-color: rgb(159, 200, 249);
}

.MuiLinearProgress-root {
    height: 4px;
    overflow: hidden;
    position: relative;
}

.jss498 {
    background-color: #036FF0;
}

.MuiLinearProgress-bar1Determinate {
    transition: transform .4s linear;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #036FF0;
}

.MuiLinearProgress-bar {
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    transition: transform 0.2s linear;
    transform-origin: left;
}

.jss499 {
    font-size: 14px;
    margin-top: 16px;
    font-weight: bold;
}

.MuiTypography-body1 {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.00938em;
}

.MuiTypography-root {
    margin: 0;
}

@media (max-width: 1279.95px) {
    .jss412 {
        flex-direction: column;
    }
}

.jss412 {
    display: flex;
    flex-direction: row;
}

.jss410 {
    width: 100%;
    margin: 16px;
}

.jss506 {
    position: relative;
    font-size: 18px;
    padding-left: 64px;
}

.MuiTypography-body1 {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.00938em;
}

.MuiTypography-root {
    margin: 0;
    text-align: left;
}

.jss506:before {
    left: 0;
    width: 40px;
}

.jss507 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px;
}

.MuiGrid-container {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
}

.MuiGrid-grid-xs-12 {

}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.jss510 {
    color: rgb(27, 27, 27);
    background-color: white;
}

.jss508 {
    cursor: pointer;
    /* height: 100%; */
    padding: 24px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.MuiCard-root {
    overflow: hidden;
}

.MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.MuiPaper-rounded {
    border-radius: 8px;
}

.MuiPaper-root {
    color: #1b1b1b;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.jss512 {
    display: flex;
}

.jss514 {
    color: rgb(3, 111, 240);
    border-color: black;
}

.jss513 {
    width: 17px;
    height: 25px;
    display: block;
    font-weight: bold;
    border-right: solid 1px;
    margin-right: 8px;
    padding-right: 8px;
}

.MuiTypography-body1 {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.00938em;
}

.MuiTypography-root {
    margin: 0;
}

.jss511 {
    font-weight: 400;
    margin-right: 0px;
}

.MuiTypography-body1 {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.00938em;
}

.MuiTypography-root {
    margin: 0;
}

.jss515 {
    top: 20px;
    right: 24px;
    position: absolute;
}

.jss516 {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}


.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-root {
    color: #1b1b1b;
    height: 46px;
    padding: 6px 16px;
    font-size: 14px;
    min-width: 160px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 23px;
    letter-spacing: 0.02857em;
    text-transform: inherit;
}

.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 20px;
    min-width: 160px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}

.MuiButton-containedPrimary {
    color: #ffffff;
    background-color: #036FF0;
}

.bordered {
    border: solid #036FF0;
}